@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #d5d4d4;
    --cor-texto: #403835;
    --cor-destaque: ;
    --fonte-titulo: "Passion One", sans-serif;
    --fonte-texto: "Roboto", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
    min-height: 100vh;
    color: var(--cor-texto);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--fonte-texto);
}

.pagina__inteira {
    display: grid;
    grid-template-columns: 66% 33%;
}

.bloco__container {
    background-color: rgba(25,22,21,0.33);
    border-radius: 16px;
    box-shadow: 3px 3px 2px rgba(25, 22, 21, 0.12);
    width: 90%;
    text-align: center;
}

.pagina__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-around;
    gap: 1rem;
    margin: 1.5rem 0;
}

.titulo__principal h1{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 5rem;
    margin-top: 1rem;
    color: var(--cor-primaria);
}

.titulo__principal p{
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.input__titulo {
    color: var(--cor-primaria);
    margin: 0.75rem;
}

.input__input {
    align-items: center;
    background-color: transparent;
    border: 3px solid var(--cor-primaria);
    border-radius: 16px;
    color: var(--cor-texto);
    font-size: 1.5rem;
    font-weight: 400;
    height: 2rem;
    outline: none;
    padding: 0.5rem;
    width: 80%;
    text-align: center;
    caret-color: var(--cor-primaria);
    margin-bottom: 0.75rem;
}

.input__input::placeholder {
    color: var(--cor-texto);
    text-align: center;
    opacity: 70%;
}

.input__input:focus::placeholder {
    color: var(--cor-texto);
    text-align: center;
    opacity: 70%;
}

.botoes__input {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.button {
    align-items: center;
    border: transparent;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    text-align: center;
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
}

.secondary {
    border: solid 3px var(--cor-primaria);
    background-color: transparent;
    color: #F2F2F2;
}

.primary:hover {
    background-color: var(--cor-secundaria);
}

.secondary:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    opacity: 70%;
}

.container__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista__titulo {
    color: var(--cor-primaria);
    margin-top: 1rem;
    font-size: 1.5rem;
}

.lista__paragrafo {
    align-items: center;
    border: 3px solid var(--cor-primaria);
    border-radius: 16px;
    color: var(--cor-texto);
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    width: 80%;
    min-height: 2rem;
}